body {
    background-color: #F5D04E;
    text-align: center;
}
.container {
    background-color: white;
      box-shadow: 10px 10px black;
      display: inline-block;
      border-radius: 10px;
      text-align: start;
      margin-top: 20px;
}
#buttonstyle{
    background-color: yellow;
    display: inline-block;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    text-align: start;
}
img {
    max-width: 90%;
    padding: 10px 10px 10px 10px;
}
.illustrate-article{
    border-radius: 10%;
    position: relative;
    text-align: center;
}
.information{
    padding-left: 10px;
    padding-right: 10px;
    text-align: start;
}
.article {
    padding-left: 10px;
    padding-right: 10px;
    text-align: start;
}
.information:hover {
    color: yellow;
}
@media screen and (min-width: 360px) {
    .container {
     width: 60%;
    }
   }

@media screen and (min-width: 375px) {
    .container {
     width: 60%;
    }
   }
@media screen and (min-width: 600px) {
   .container {
    width: 40%;
   }
  }
  @media screen and (min-width: 1200px) {
    .container {
     width: 25%;
    }
   }
   @media screen and (min-width: 768px) {
    .container {
     width: 40%;
    }
   }
   @media screen and (min-width: 992px) {
    .container {
     width: 25%;
    }
   }
   @media screen and (min-width: 2768px) {
    .container {
     width: 12%;
    }
   }
   @media screen and (min-width: 820px) {
    .container {
     width: 45%;
    }
   }
   @media screen and (min-width:1024px) {
    .container {
     width: 25%;
    }
   }
   @media screen and (min-width: 344px) {
    .container {
     width: 70%;
    }
   }
   @media screen and (min-width: 853px) {
    .container {
     width: 30%;
    }
   }
